@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #f8f9fa;
    color: #171717;
    font-family: 'Inter', system-ui, sans-serif;
  }
}
