.audio-level-meter {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 50px;
  opacity: 0.7;
}

.audio-level-meter__bar {
  width: 6px;
  background-color: #9f9fa9;
  border-radius: 9999px;
  flex-shrink: 0;
  transition: height 0.05s linear;
}
